

#footer {
    background-color: aqua; 
    padding-left: 15%;
}

.columna-abajo {
    padding-top: 2%;
    padding-bottom: 2%;
}

.columna-abajo2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.columna-abajo3 {
    padding-top: 2%;
    padding-bottom: 2%;
}
